$("#chat .messages_list").append(`
  <div id="messages" class="row message_sent">
    <p style="line-break: anywhere"><%= @message.text %></p>
    <p class="message_timestamp" ><%= @message.created_at.strftime('%H:%M') %></p>
  </div>
`);
$("#new_message").trigger("reset");
$(".messages_list").scrollTop($(".messages_list")[0].scrollHeight);
