<h1>Perfis cadastrados</h1>

<hr class="my-4">

<% if @profiles.blank? %>
    <h2>Ainda não há perfis cadastrados<h2>
<% else %>
    <% @profiles.each do |p| %>
        <dl>
            <dt><%= I18n.t('profiles.name') %></dt>
            <dd><%= link_to p.name, profile_path(p) %></dd>
            <dt><%= I18n.t('profiles.professional_resume') %></dt>
            <dd><%= p.professional_resume %></dd>
        </dl>
    <% end %>
<% end %>
