<h1>Empresas</h1>

<%= link_to 'Cadastrar empresa', new_company_path %>

<% if @companies.blank? %>
  <h3>Ainda não há empresas cadastradas</h1>
<% else %>
  <% @companies.each do |c| %>
    <%= link_to c.name, company_path(c) %>
  <% end %>
<% end %>
