<h1>Painel de Vagas</h1>

<% if headhunter_signed_in? %>
<%= link_to 'Publicar vaga', new_opportunity_path %>
<% end %>

<% @opportunities.each do |op| %>
    <h3><%= link_to op.title, opportunity_path(op) %></h3>
    <dl>
        <dt><%= t('grade') %>:</dt>
        <dd><%= op.grade %></dd>
    <dl>
<% end %>